* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #383838;
    --secondary-color: #ffffff;
    --tertiary-color: #6082B6;
}
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    position: sticky;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
  }
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  header nav ul li a:hover {
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
  }
.hero {
    background-image: url("../images/selfie.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
}
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}